
.swiper {
  width: 80%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.swiper-slide {
    margin-left: 15px;
    margin-right: 15px;
  background-position: center;
  background-size: cover;
  width: 270px;
  border: 1px solid rgb(214, 214, 214);
  height: 250px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: fit-content;
  object-position: center;
  object-fit: cover;
}
